//- Favicons
link(rel="icon" type="image/x-icon" href="favicon.ico")
link(rel="icon" type="image/png" href="favparrot.png")
link(rel="apple-touch-icon" href="res/custom-parrot.png")
meta(name="msapplication-config" content="browserconfig.xml")
