meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")

meta(name="description" content=title + "|" + subtitle)
link(rel="canonical" href=pageURL)
title= title
