doctype html
html(lang="en", dir="ltr")
  head
    include includes/metas.pug
    include includes/favicons.pug
    include includes/social-media.pug

    //- Assets
    link(rel="stylesheet" href="global.css")
    if isProduction
      link(rel="stylesheet" href="main.css")
    script(defer="" src="bundle.js")
  body
    block content
    footer
      if isProduction
        a(href="impressum.html") Impressum
      else
        a(href="impressum") Impressum

